name = "r2-dir-list"
main = "src/index.ts"
compatibility_date = "2023-03-01"

workers_dev = false
routes = [
    { pattern = "vault.toxikmusic.com/*", zone_name = "vault.toxikmusic.com" }
]

# Bind an R2 Bucket. Use R2 to store arbitrarily large blobs of data, such as files.
# Docs: https://developers.cloudflare.com/r2/api/workers/workers-api-usage/
r2_buckets  = [
    { binding = "BUCKET_uploads", bucket_name = "uploads"}
]
